* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
header {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 213, 52);
  color: rgb(0, 0, 0);
}
footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.container * {
  margin: auto;
}

#burger-name {
  margin-bottom: 20px;
}
#coupon {
  margin: 20px 0;
}